extends ./../layout

block content
  ul
    each item in products
      li Product Name:&nbsp
        a(href="/products/#{item.id}") #{item.name}&nbsp
        form(type="submit", action="/products/#{item.id}/edit")
          input(type="hidden", name="_method", value="PUT")
          button(type="submit", value="submit") edit
        form(name="delete-products", method="POST", action="/products/#{item.id}")
          input(type="hidden", name="_method", value="DELETE")
          button(type="submit", value="submit") delete
  //- ul
  //-   form(name="new-product", method="POST", action="/products/#{item.id}")
  //-     input(type="hidden", name="_method", value="POST")
  //-     button(type="submit", value="submit") new


